<div class="container">
	<div class="panel panel-default standart-margin">
		<div class="panel-body">
			<div>
				<h4>Change slide information</h4>
				<div class="container form-horizontal" style="margin-left: -15px;">
					<div class="form-group" ng-class="{ 'has-error' : errors['title'] }">
						<b class="col-md-3 control-label">Title*</b>
						<div class="col-md-9">
							<input type="text" ng-model="slide.title" ng-change="errors['title']=null" class="form-control" />
							<span class="inline-error" ng-bind="errors['title']"></span>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : errors['description'] }">
						<b class="col-md-3 control-label">Description*</b>
						<div class="col-md-9">
							<textarea elastic class="form-control" ng-model="slide.description" ng-change="errors['description']=null" style="min-width: 100%;"></textarea>
							<span class="inline-error" ng-bind="errors['description']"></span>
						</div>
					</div>
					<div class="form-group">
						<b class="col-md-3 control-label">Pretty Description*</b>
						<div class="col-md-9">
							<div hljs hljs-source="slide.description"></div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : errors['answer'] }">
						<b class="col-md-3 control-label">Answer*</b>
						<div class="col-md-9">
							<input type="text" ng-model="slide.answer" ng-change="errors['answer']=null" class="form-control" />
							<span class="inline-error" ng-bind="errors['answer']"></span>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : errors['sequenceNumber'] }">
						<b class="col-md-3 control-label">Sequence number*</b>
						<div class="col-md-9">
							<input type="text" ng-model="slide.sequenceNumber" ng-change="errors['sequenceNumber']=null" class="form-control" />
							<span class="inline-error" ng-bind="errors['sequenceNumber']"></span>
						</div>
					</div>
					<div class="form-group col-md-12">
						<input type="submit" class="btn btn-default" value="Add" ng-click="createSlide()" />
						<input type="submit" class="btn btn-default" value="Back" ng-click="back()" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>